<style>
.app-content{
  padding: 52px 20px;  
}
dl{
  margin: 30px 15px 15px;
  padding-bottom: 15px;  
}
dd{
    margin-bottom:10px;
}
img{
  vertical-align: top;
}
.box-favorable{
    position: relative;
    background: #fff;
    border-radius: 5px;
    box-shadow: 1px 1px 1px #dadada;

} 
.box-favorable .favorable-top-bg{
  height:7px;
  background:url('<?=__PUBLIC__?>image/favorable_top_bg.png') repeat-x;
  background-size: 14px;
}
.box-favorable .favorable-name{
  font-size:30px;
  font-weight:bold;
}
</style>
<div class="app-page">
    <div class="app-topbar">
        <a href="javascript:history.back()"><i class="glyphicon glyphicon-chevron-left"></i></a>
        <h4><?=$favorable[activity_name]?></h4>
    </div>
    <div class="app-content container-fluid">
        <?php if (!empty($favorable)): ?>
        <div class="box-favorable">
            <div class="favorable-top-bg"></div>
            <dl class="dl-horizontal">
              <dt>
              </dt>
              <dd class="text-overflow"><img src="<?=$favorable['activity_img']?>" alt=""></dd>
              <dt>活动编号:</dt>
              <dd class="text-overflow"><?=$favorable[activity_code]?></dd>
              <dt>兑换金币:</dt>
              <dd class="text-overflow"><?=$favorable[activity_score]?></dd>
              <dt>有效期:</dt>
              <dd class="text-overflow"><?=$favorable[start_time]?>～<?=$favorable[end_time]?></dd>
              <dt>优惠券详情:</dt>
              <dd class=""><?=$favorable[detail]?></dd>
            </dl>
        </div>
        <?php else: ?>
        <div class="alert alert-warning" role="alert">暂无您的优惠券信息</div>
        <?php endif ?>
    </div>
</div>