<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<meta name="viewport" content="width=device-width,height=device-height,inital-scale=1.0,maximum-scale=1.0,user-scalable=no;">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		<meta name="format-detection" content="telephone=no">
		<title>刮刮卡</title>
		<link href="<?=__PUBLIC__?>/css/activity-style.css" rel="stylesheet" type="text/css">
	</head>
        
	<script type="text/javascript">
                ggk_config = {"gailv":{"one":20,"two":20,"three":20},"score":{"one":100,"two":60, "three":20},number:{"one":10,"two":30,"three":60}};
                
		function loading(canvas, options) {
			this.canvas = canvas;
			if (options) {
				this.radius = options.radius || 12;
				this.circleLineWidth = options.circleLineWidth || 4;
				this.circleColor = options.circleColor || 'lightgray';
				this.moveArcColor = options.moveArcColor || 'gray';
			} else {
				this.radius = 12;
				this.circelLineWidth = 4;
				this.circleColor = 'lightgray';
				this.moveArcColor = 'gray';
			}
		}
		loading.prototype = {
			show: function() {
				var canvas = this.canvas;
				if (!canvas.getContext) return;
				if (canvas.__loading) return;
				canvas.__loading = this;
				var ctx = canvas.getContext('2d');
				var radius = this.radius;
				var me = this;
				var rotatorAngle = Math.PI * 1.5;
				var step = Math.PI / 6;
				canvas.loadingInterval = setInterval(function() {
					ctx.clearRect(0, 0, canvas.width, canvas.height);
					var lineWidth = me.circleLineWidth;
					var center = {
						x: canvas.width / 2,
						y: canvas.height / 2
					};

					ctx.beginPath();
					ctx.lineWidth = lineWidth;
					ctx.strokeStyle = me.circleColor;
					ctx.arc(center.x, center.y + 20, radius, 0, Math.PI * 2);
					ctx.closePath();
					ctx.stroke();
					//在圆圈上面画小圆   
					ctx.beginPath();
					ctx.strokeStyle = me.moveArcColor;
					ctx.arc(center.x, center.y + 20, radius, rotatorAngle, rotatorAngle + Math.PI * .45);
					ctx.stroke();
					rotatorAngle += step;

				},
				100);
			},
			hide: function() {
				var canvas = this.canvas;
				canvas.__loading = false;
				if (canvas.loadingInterval) {
					window.clearInterval(canvas.loadingInterval);
				}
				var ctx = canvas.getContext('2d');
				if (ctx) ctx.clearRect(0, 0, canvas.width, canvas.height);
			}
		};                                                
	</script>
	</head>
	<body data-role="page" class="activity-scratch-card-winning">
		<script src="<?=__PUBLIC__?>/scripts/jquery.js" type="text/javascript"></script>
		<script src="<?=__PUBLIC__?>/scripts/wScratchPad.js" type="text/javascript"></script>
		<div class="main">
			<div class="cover">
				<img src="<?=__PUBLIC__?>/image/activity-scratch-card-bannerbg.png">
				<div id="prize">
				</div>
				<div id="scratchpad">
				</div>
			</div>
			<div class="content">
				<div id="zjl" style="display:none" class="boxcontent boxwhite">
					<div class="box">
						<div class="title-red" style="color: #444444;">
							<span class="red">尊敬的会员，</span>
							<span>
								恭喜你
							</span>
						</div>
						<div class="Detail">
							<p>
								你中了：
								<span class="red" id ="theAward"></span>
							</p>
							<p>
								获得金币：
								<span class="red" id="sncode">
									<script language="javascript">
													window.scoretext;
									</script>
								</span>
							</p>
							<p class="red"></p>
							<!--<p>
								<input name="" class="px" id="tel" value="" type="text" placeholder="用户请输入您的手机号">
							</p>
							<p>
								<p>
									<input class="pxbtn" name="提 交" id="save-btn" type="button" value="用户提交">
								</p>
								<p>
									<input name="" class="px" id="parssword" type="password" value="" placeholder="商家输入兑奖密码">
								</p>
								<p>
									<input class="pxbtn" name="提 交" id="save-btnn" type="button" value="商家提交">
								</p>
							!-->	
						</div>
					</div>
				</div>
				<div class="boxcontent boxwhite">
					<div class="box">
						<div class="title-brown">
							<span>
								奖项设置：
							</span>
						</div>
						<div class="Detail">

							<p>
                                                            一等奖： <span id="onescore"></span>金币，奖品数量：<span id="onenumber"></span>
							</p>
							<p>
								二等奖： <span id="twoscore"></span>金币，奖品数量：<span id="twonumber"></span>
							</p>
							<p>
								三等奖： <span id="threescore"></span>金币，奖品数量：<span id="threenumber"></span>
							</p>
						</div>
					</div>
				</div>
				<div class="boxcontent boxwhite">
					<div class="box">
						<div class="title-brown">
							活动说明：
						</div>
						<div class="Detail">
							<p class="red">
								开心刮刮卡，刮奖卷，赢金币!
							</p>
							<p>
								亲，请刮开刮奖区，祝您好运哦！
							</p>
						</div>
					</div>
				</div>
			</div>
			<div style="clear:both;">
			</div>
		</div>
		<script src="<?=__PUBLIC__?>/scripts/alert.js" type="text/javascript"></script>
		<script type="text/javascript">
                    document.getElementById('onescore').innerHTML = ggk_config.score.one;
                    document.getElementById('twoscore').innerHTML = ggk_config.score.two;
                    document.getElementById('threescore').innerHTML = ggk_config.score.three;
                    document.getElementById('onenumber').innerHTML = ggk_config.number.one;
                    document.getElementById('twonumber').innerHTML = ggk_config.number.two;
                    document.getElementById('threenumber').innerHTML = ggk_config.number.three;
			window.sncode = "null";
			window.prize = "谢谢参与";
			var score = 0

			var zjl = false;
			var num = 0;
			var goon = true;
			$(function() {
				$("#scratchpad").wScratchPad({
					width: 150,
					height: 40,
					color: "#a9a9a7",
					scratchMove: function() {
						num++;
						if (num == 2) {
							//一等奖机率10% 二等奖20% 三等奖30% 幸运奖40%
							var randNum = Math.round(Math.random()*99+1)
                                                       // alert(randNum);
							if(randNum>=1 && randNum<=ggk_config.gailv.one){
								var award = "一等奖";
								zjl = true;
								score = ggk_config.score.one;
								document.getElementById('sncode').innerHTML = ggk_config.score.one;
								
							}
							if(randNum>=ggk_config.gailv.one+1 && randNum<=ggk_config.gailv.one+ggk_config.gailv.two){
								var award = "二等奖";
								zjl = true;
								score = ggk_config.score.two;
								scoretext = ggk_config.score.two;
								document.getElementById('sncode').innerHTML = ggk_config.score.two;
							}
							if(randNum>=ggk_config.gailv.one+ggk_config.gailv.two+1 && randNum<=ggk_config.gailv.one+ggk_config.gailv.two+ggk_config.gailv.three){
								var award = "三等奖";
								zjl = true;
								score = ggk_config.score.three;
								scoretext = ggk_config.score.three;
								document.getElementById('sncode').innerHTML = ggk_config.score.three;
							}
							if(randNum>=ggk_config.gailv.one+ggk_config.gailv.two+ggk_config.gailv.three+1 && randNum<=100){
								var award = "谢谢参与";
								score = 0;
                                                                zjl = false;
								scoretext = "0";
								document.getElementById('sncode').innerHTML = "0";
							}
							if(score > 0){
								$.ajax({ 
									type: 'POST', 
									url: site_url('code/game'),                        
									dataType: 'json', 
									data:{score:score},
									cache: false, 
									error: function(){ 
										alert('出错了！'); 
										return false; 
									}, 
									success:function(res){
										if (res.error) {
											alert(res.error);
											return false;
										}
										alert(res.message);
										score=0;
									} 
								});  
							}							
							document.getElementById('prize').innerHTML = award;
							$("#theAward").html(award);
						}

						if (zjl && num > 10 && goon) {
						
							//$("#zjl").fadeIn();
							goon = false;
							
							$("#zjl").slideToggle(500);
							//$("#outercont").slideUp(500)
						}
					}
				});

				//$("#prize").html("谢谢参与");
				//loadingObj.hide();
				//$(".loading-mask").remove();
			});

			$("#save-btn").bind("click", function() {
				var btn = $(this);
				var tel = $("#tel").val();
				if (tel == '') {
					alert("请输入手机号");
					return
				}

				var submitData = {
					tid: 438,
					code: $("#sncode").text(),
					tel: tel,
					action: "setTel"
				};
				$.post('index.php?ac=acw', submitData,
				function(data) {
					if (data.success == true) {
						alert(data.msg);
						return
					} else {}
				},
				"json")
			});

			// 保存数据
			$("#save-btnn").bind("click", function() {
				//var btn = $(this);
				var submitData = {
					tid: 438,
					code: $("#sncode").text(),
					parssword: $("#parssword").val(),
					action: "setTel"
				};
				$.post('index.php?ac=acw', submitData,
				function(data) {
					if (data.success == true) {
						alert(data.msg);
						if (data.changed == true) {
							window.location.href = location.href;
						}
						return
					} else {}
				},
				"json")
			});
		</script>
		
	</body>

</html>