<!-- 主窗体内容 -->
<div class="body"></div>

<!-- 订单列表模版 -->
<script id="OrderTemplate" type="text/template">
    <div class="app-page">
        <div class="app-topbar">
                <h4>我的订单</h4>
        </div>
        <div class="app-content container-fluid">
                <ul class="list-group"></ul>
        </div>
    </div>
</script>

<!-- 订单信息 -->
<script id="OrderItemTemplate" type="text/template">
	<li class="list-group-item" style="position:relative;">
		<a href="javascript:void(0);" class="btn-more" style="position:absolute;right:20px;top:48%;"><span class="glyphicon glyphicon-chevron-right"></span></a>
		<p>订 &nbsp;单 &nbsp;号：${order_sn}</p>
		<p>订单金额：￥${amount}  &nbsp; <span class="label label-warning">${is_pay==0?'未支付':'已支付'}</span></p>
		<p>下单时间：${create_time}</p>
		<p>订单状态：<strong>${status_text}</strong></p>
	</li>
</script>

<!-- 订单详情模版 -->
<script id="OrderInfoTemplate" type="text/template">
	<div class="app-page">
		<div class="app-topbar">
			<a href="javascript:void(0);" class="pull-left"><span class="glyphicon glyphicon-chevron-left"></span></a>
			<h4>订单 ${order_sn}</h4>
		</div>
		<div class="app-content container-fluid">
			<div class="orderinfo-goods"></div>
			<p>总金额：￥${amount}</p>
			<p>收货人：${username}</p>
			<p>联系方式：${mobile}</p>
			<p>联系地址：${city} ${area} ${address}</p>
			<p>配送时间：${delivery_times}</p>
			<p>是否支付：<span class="label label-warning">${is_pay==0?'未支付':'已支付'}</span></p>
			<p>订单状态：<span class="label label-info">${status_text}</span></p>
			<p>备注：${remark}</p>
			<p>下单时间：${create_time}</p>

			<p><button class="btn btn-default btn-block btn-back"><span class="glyphicon glyphicon-circle-arrow-left"></span> 返回</button></p>
		</div>
	</div>
</script>

<!-- 订单详情商品模版 -->
<script id="OrderInfoGoodsTemplate" type="text/template">
	<div class="row">
		<div class="col-xs-12 col-md-12">
			<div class="thumbnail goods-detail">
				<a href="javascript:void(0);" style="position:absolute;right:20px;top:38%;"><span class="glyphicon glyphicon-chevron-right"></span></a>
				<img data-original="${thumb_url}" class="lazy"/>
				<h4>${goods_name}</h4>
				<p>价格：${goods_price}</p>
				<p>数量：${cart_num}</p>
				<div class="clearfix"></div>
			</div>
		</div>
	</div>
</script>

<!-- 商品详情模版 -->
<script id="GoodsDetailTemplate" type="text/template">
	<div class="app-page">
		<div class="app-topbar">
			<a href="#/goods" class="pull-left"><span class="glyphicon glyphicon-chevron-left"></span></a>
			<h4>${goods_name}</h4>
		</div>
		<div class="app-content container-fluid">
			{{html desc}}
			<p><button class="btn btn-default btn-block btn-back"><span class="glyphicon glyphicon-circle-arrow-left"></span> 返回</button></p>
		</div>
	</div>
</script>

<script>
	var order_sn = "<?=$order_sn?>";
	var order_data = <?=$order?>;
</script>
<script src="<?=__PUBLIC__?>scripts/order.min.js"></script>
