<style>
dl{
  margin: 30px 15px 15px;
  padding-bottom: 15px;  
}
dd{
    margin-bottom:10px;
}
img{
  vertical-align: top;
}
.box-favorable{
    position: relative;
    background: #fff;
    border-radius: 5px;
    box-shadow: 1px 1px 1px #dadada;

} 
.box-favorable .favorable-top-bg{
  height:7px;
  background:url('<?=__PUBLIC__?>image/favorable_top_bg.png') repeat-x;
  background-size: 14px;
}
.box-favorable .favorable-name{
  font-size:30px;
  font-weight:bold;
}
p {
  margin: 0 0 5px;
}
.thumbnail {
  padding:10px 10px 0;
}
.thumbnail h4{
  max-height: 38px;
  overflow: hidden;
  line-height: 19px; 
  margin:0 0 5px; 
}
.thumbnail p {
  line-height: 18px;
}
</style>
    
<!-- 主窗体内容 -->
<div class="body"></div>

<!-- 订单列表模版 -->
<script id="OrderTemplate" type="text/template">
    <div class="app-page">
        <div class="app-topbar">
                <h4>我的订单</h4>
        </div>
        <div class="app-content container-fluid">
                <ul class="list-group"></ul>
        </div>
    </div>
</script>

<!-- 订单信息 -->
<script id="OrderItemTemplate" type="text/template">
	<li class="list-group-item" style="position:relative;">
		<a href="javascript:void(0);" class="btn-more" style="position:absolute;right:20px;top:48%;"><span class="glyphicon glyphicon-chevron-right"></span></a>
		<p>订 &nbsp;单 &nbsp;号：${order_sn}</p>
		<p>订单金额：￥${amount}  &nbsp; <span class="label label-warning">${is_pay==0?'未支付':'已支付'}</span></p>
		<p>下单时间：${create_time}</p>
		<p>订单状态：<strong>${status_text}</strong></p>
	</li>
</script>

<!-- 订单详情模版 -->
<script id="OrderInfoTemplate" type="text/template">      
	<div class="app-page">
		<div class="app-topbar">
			<!--<a href="javascript:void(0);" class="pull-left"><span class="glyphicon glyphicon-chevron-left"></span></a>-->
			<h4>订单 ${order_sn}</h4>
		</div>
		<div class="app-content container-fluid" style="padding-bottom:0px;">
			<div class="orderinfo-goods"></div>
		</div>
    <div class="app-content container-fluid" style="padding-top:0px;">
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
      <div class="box-favorable">
          <div class="favorable-top-bg"></div>
          <dl class="dl-horizontal">
            <dt>总金额</dt>
            <dd class="text-overflow">￥${amount}</dd>
            <dt>收货人</dt>
            <dd class="text-overflow">${username}</dd>
            <dt>联系方式</dt>
            <dd class="text-overflow">${mobile}</dd>
            <dt>联系地址</dt>
            <dd class="text-overflow">${address}</dd>
    
            <dt>是否支付</dt>
            <dd class="text-overflow"><span class="label label-warning">${is_pay==0?'未支付':'已支付'}</span></dd>
            <dt>订单状态</dt>
            <dd class="text-overflow"><span class="label label-info">${status_text}</span></dd>      
            <dt>下单时间</dt>
            <dd class="text-overflow">${create_time}</dd>
            <dt>备注</dt>
            <dd class="text-overflow">${remark}</dd>
          </dl>
      </div>
      </div>
    </div>
	</div>
</script>

<!-- 订单详情商品模版 -->
<script id="OrderInfoGoodsTemplate" type="text/template">
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
        <div class="thumbnail">
            <a href="javascript:void(0)" class="goods-order-detail">
                <img data-original="${thumb_url}" class="lazy">
                <h4>${goods_name}</h4>
                {{if price > 0}}
                <p>{{if category_id==2}}兑换价：{{else}}市场价：{{/if}}￥${price}</p>
                {{/if}}
                {{if score > 0}}
                <p>兑换金币：${score}</p>
                {{/if}}
                <p>数量：${cart_num}</p>
            </a>
        </div>
    </div>
</script>

<!-- 商品详情模版 -->
<script id="GoodsDetailTemplate" type="text/template">
	<div class="app-page">
		<div class="app-topbar">
			<a href="#/goods" class="pull-left"><span class="glyphicon glyphicon-chevron-left"></span></a>
			<h4>${goods_name}</h4>
		</div>
		<div class="app-content container-fluid">
			{{html desc}}
			<p><button class="btn btn-default btn-block btn-back"><span class="glyphicon glyphicon-circle-arrow-left"></span> 返回</button></p>
		</div>
	</div>
</script>

<script>
	var order_sn = "<?=$order_sn?>";
	var order_data = <?=$order?>;
</script>
<script src="<?=__PUBLIC__?>scripts/order.js"></script>
