<!-- 主窗体内容 -->
<div class="app-page">
<div class="app-topbar">
    <a href="/index.php"><i class="glyphicon glyphicon-chevron-left"></i></a>
    <h4>赚金币吧</h4>
</div>
<div class="app-content container-fluid">
    <div class="body">
        <ul class="nav nav-pills nav-justified nav-flat text-center">
            <li  class="active pull-left" style="width: 49%;border-radius: 0px;"><a href="<?=site_url('code/list')?>">关注得金币</a></li>
            <li class="pull-right" style="width: 49%;border-radius: 0px;"><a href="<?=site_url('code/gamelist')?>">游戏得金币</a></li>
        </ul>
        <table class="table cart-list text-center">
            <tr>
                <th class="text-center">客户</th>
                <th class="text-center">金币数</th>
                <th class="text-center">是否关注</th>
            </tr>
            <?php foreach($focusList as $data){ ?>
            <tr>
                <td>
                    <?php if(!empty($data['icon'])){?>
                    <img src="<?=$data['icon']?>" class="preview-image" style="width: 20px; height: 20px; border:1px solid #eee;"/>
                    <?php } else { ?>
                    <?=$data['name']?>
                    <?php } ?>
                </td>
                <td><?=$data['score']?></td>
                <td>
                    <?php if(!in_array($data['code'], $freeCodes)){?>
                    <a url="<?=site_url('code/focus')?>/<?=$data['focus_id']?>" href="<?=$data['url']?>" class="btn btn-link freeFocus">关注</a>
                    <?php } else {?>
                    <a href="<?=$data['url']?>" class="btn btn-link freeFocus">已关注</a>
                    <?php } ?>
                </td>
            </tr>
            <?php } ?>
        </table>
    </div>
</div>
</div>
<script>
    $(".freeFocus").click(function(){
        var obj  = $(this);
        var url  = obj.attr('url');
        var href = obj.attr('href');
        $.ajax({
            type: 'POST',
            url: url ,
            data: "" ,
            success: function(res){
                if (res.error_code) {
                    alert(res.error);
                    return false;
                }
//                alert(res.message);
                if (!href) {
                    obj.parent().html("已关注");
                } else {
                    window.location.href = href;
                }                
                
            } ,
            dataType: "json"
       });
       
       return false;
    });
</script>
