<!-- 主窗体内容 -->
<div class="body">
    <div class="app-page">
        <div class="app-topbar">
            <!--<a href="/index.php"><i class="glyphicon glyphicon-chevron-left"></i></a>-->
            <h4>赚金币吧</h4>
        </div>
    </div>
    <div class="app-content container-fluid" style="padding-top: 45px;">
        <ul class="nav nav-pills nav-justified nav-flat text-center">
            <li  class="active pull-left" style="width: 49%;border-radius: 0px;"><a href="<?=site_url('code/list')?>">关注得金币</a></li>
            <li class="pull-right" style="width: 49%;border-radius: 0px;"><a href="<?=site_url('code/gamelist')?>">游戏得金币</a></li>
        </ul>
        <div class="tab-pane active">
            <div class="row">
                <?php foreach($focusList as $focus){ ?>
                <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">         
                    <div class="thumbnail" style="height: 100px;">             
                        <a href="javascript:void(0)" class="col-xs-9 col-sm-9">
                            <img src="<?=$focus['icon']?>" class="lazy">
                            <h4><?=$focus[name]?></h4>   
                            <p>金币：<?=$focus['score'] || 10?></p>
                        </a> 
                        <p class="col-xs-3 col-sm-3" style="padding-top: 25px;">
                            <?php if(!in_array($focus['code'], $freeCodes)){?>
                            <a url="<?=site_url('code/focus')?>/<?=$focus['focus_id']?>" href="<?=$focus['url']?>" class="btn btn-primary freeFocus">关注</a>
                            <?php } else {?>
                            <a href="<?=$focus['url']?>" class="btn btn-primary freeFocus">已关注</a>
                            <?php } ?>                            
                        </p>
                    </div>
                </div>
                <?php } ?>
            </div>
        </div>                 
    </div>
</div>
<script>
    $(".freeFocus").click(function () {
        var obj = $(this);
        var url = obj.attr('url');
        var href = obj.attr('href');
        $.ajax({
            type: 'POST',
            url: url,
            data: "",
            success: function (res) {
                if (res.error_code) {
                    alert(res.error);
                    return false;
                }
//                alert(res.message);
                if (!href) {
                    obj.parent().html("已关注");
                } else {
                    window.location.href = href;
                }

            },
            dataType: "json"
        });

        return false;
    });
</script>
