<!-- 主窗体内容 -->
<link rel="stylesheet" type="text/css" href="<?=__PUBLIC__?>css/code_list.css">
<style>
/*重置bs*/
.thumbnail{
    overflow: hidden;
    margin:0 10px 10px;
}
.thumbnail img{
    width:100%;
    height:auto;
    float:none;
    padding:0;
}
.thumbnail h4 {
    font-size: 16px;
    color: #fff;
    background: #F6425E;
    margin-bottom: 4px;
    padding: 0 2px;
    margin-top: 8px;
    display: inline-block;
    position: relative;
}
.thumbnail h4::after{
  content: '';
  display: inline-block;
  position: absolute;
  top: 0;
  right: -7px;  
  width: 0;
  height: 0;
  border-top: 12px solid transparent;
  border-left: 7px solid #F6425E;
  border-bottom: 12px solid transparent;   
}

.thumbnail p {
    margin-left: 83px;
    font-size: 12px;
    line-height: 1.421;
}
.btn-add-shopping-cart {
    position: absolute;
    right: 35px;
    bottom: 32px;
    background: #FDDD32;
    border-color: #FDDD32;
    box-shadow: 1px 2px 1px #E19524;
    color: #555;
}
.thumbnail{
    position: relative;
}
.thumbnail > a{
    height:auto;
    display:inline-block;
}
.freeFocus{
    position: absolute;
    right: 17px;
    top: 40px;
}
.thumbnail .code-score{
    font-size: 25px;
    color:#F6425E;
}
.thumbnail .code-imgwrap{
  float: left;
  margin: 10px 15px 8px 8px;
  width: 60px;
  height: 60px;
}
.list-item-price-icon{
    font-size:16px;
}
</style>
<div class="body">
    <div class="app-page">
        <div class="app-topbar">
            <!--<a href="/index.php"><i class="glyphicon glyphicon-chevron-left"></i></a>-->
            <div class="row topbar-menu">
                <div class="col-xs-6 text-right">
                    <a class="active" href="<?=site_url('code/list')?>">关注得金币</a>
                </div>
                <div class="col-xs-6 text-left">
                    <a class="" href="<?=site_url('code/gamelist')?>">游戏得金币</a>
                </div>
            </div>           
        </div>
    </div>
    <div class="app-content container-fluid" style="padding-top: 62px;">

        <div class="tab-pane active">
            <div class="row">
                <?php foreach($focusList as $focus){ ?>
                <div class="thumbnail">
                    <div class="code-imgwrap">
                    <img src="<?=$focus['icon']?$focus['icon']:'#'?>" class="lazy">
                    </div>
                    <h4 style="height:24px;"><?=$focus[name]?></h4>
                    <p class="code-score"><?=$focus['score']?><span class="list-item-price-icon">¥</span></p>
                   <?php if(!in_array($focus['code'], $freeCodes)){?>
                    <a url="<?=site_url('code/focus')?>/<?=$focus['focus_id']?>" href="<?=$focus['url']?>" class="btn btn-warning freeFocus"><i class="glyphicon glyphicon-star-empty"></i>关注</a>
                    <?php } else {?>
                    <a href="<?=$focus['url']?>" class="btn btn-warning freeFocus"><i class="glyphicon glyphicon glyphicon-star"></i>已关注</a>
                    <?php } ?>  
                </div>
                <?php } ?>
            </div>
        </div>                 
    </div>
</div>
<script>
    $(".freeFocus").click(function () {
        var obj = $(this);
        var url = obj.attr('url');
        var href = obj.attr('href');
        $.ajax({
            type: 'POST',
            url: url,
            data: "",
            success: function (res) {
                if (res.error_code) {
                    alert(res.error);
                    return false;
                }

                if (!href) {
                    obj.parent().html("已关注");
                } else {
                    window.location.href = href;
                }

            },
            dataType: "json"
        });

        return false;
    });
</script>
