<style>
.app-content{
  padding: 52px 20px;  
}
dl{
  margin: 30px 15px 15px;
  padding-bottom: 15px;  
}
dd{
    margin-bottom:10px;
}
img{
  vertical-align: top;
}
.box-favorable{
    position: relative;
    background: #fff;
    border-radius: 5px;
    box-shadow: 1px 1px 1px #dadada;

} 
.box-favorable .favorable-top-bg{
  height:7px;
  background:url('<?=__PUBLIC__?>image/favorable_top_bg.png') repeat-x;
  background-size: 14px;
}
.box-favorable .favorable-name{
  font-size:30px;
  font-weight:bold;
}
.item-detail{
    overflow: hidden;

}
</style>
<div class="app-page">
    <div class="app-topbar">
        <a href="javascript:history.back()"><i class="glyphicon glyphicon-chevron-left"></i></a>
        <h4>我的优惠卷</h4>
    </div>
    <div class="app-content container-fluid">
        <?php if ($favorables): ?>
                <?php foreach ($favorables as $favorable): ?>
                <a href="<?=site_url('user/favorable_detail')?>?id=<?=$favorable['favorable_id']?>" style="color:#555">
                    <div class="box-favorable">
                        <div class="favorable-top-bg"></div>
                        <dl class="dl-horizontal">
                          <dt>
                            <img src="<?=$favorable['activity_img']?>" width="40" height="40">
                            <span class="favorable-name">
                              好消息
                            </span>
                          </dt>
                          <dd class="text-overflow"><?=$favorable['activity_name']?></dd>
                          <dt>活动图片:</dt>
                          <dd class="text-overflow"><img src="<?=$favorable['activity_img']?>" alt=""></dd>
                          <dt>兑换码:</dt>
                          <dd class="text-overflow"><?=$favorable['favorable_code']?></dd>
                          <dt>条形码:</dt>
                          <dd class="text-overflow"><?=$favorable['favorable_code']?></dd>
                          <dt>兑换金币:</dt>
                          <dd class="text-overflow"><?=$favorable['activity_score']?></dd>
                          <dt>有效期:</dt>
                          <dd class="text-overflow"><?=$favorable['start_time']?>～<?=$favorable['end_time']?></dd>
                          <dt>优惠券详情:</dt>
                          <dd class="item-detail"><?=$favorable['detail']?></dd>
                        </dl>
                    </div>
                </a>
                <?php endforeach ?>
        
        <?php else: ?>
        <div class="alert alert-warning" role="alert">暂无您的优惠券信息</div>
        <?php endif ?>
    </div>
</div>
<script>
    $(function() {

    });
</script>