<style>
.ul-favorable li{
    position: relative;
    padding: 5px 10px 15px;
    background: #fff;
    border-radius: 5px;
    box-shadow: 1px 1px 1px #dadada;
    margin-bottom:10px;
} 
.ul-favorable .favorable-detail{
    position: absolute;
    right: 10px;
    top: 13px;
    border-radius: 18px;
    padding: 5px 15px;
    border-color: #428bca;
    color: #428bca;
    font-size: 12px; 
}
</style>
<div class="app-page">
    <div class="app-topbar">
        <a href="javascript:history.back()"><i class="glyphicon glyphicon-chevron-left"></i></a>
        <h4>我的优惠卷</h4>
    </div>
    <div class="app-content container-fluid">
        <?php if ($favorables): ?>

        <ul class="ul-favorable list-unstyled">
                <?php foreach ($favorables as $favorable): ?>
            <li>
                <h4 class="text-overflow"><?=$favorable['activity_name']?></h4>
                <div>兑换码：<?=$favorable['favorable_code']?></div>
                <div>截止日期：<?=$favorable['end_time']?></div>
                <a href="<?=site_url('user/favorable_detail')?>?id=<?=$favorable['favorable_id']?>" class="btn btn-default favorable-detail"><i class="glyphicon glyphicon-info-sign"></i> 详情</a>
            </li>
                <?php endforeach ?>
        </ul>
        <?php else: ?>
        <div class="alert alert-warning" role="alert">暂无您的优惠券信息</div>
        <?php endif ?>
    </div>
</div>
<script>
    $(function() {

    });
</script>