<style>
dd{
    margin-bottom:10px;
}
.ul-favorable li,.box-favorable{
    position: relative;
    padding: 15px 10px;
    background: #fff;
    border-radius: 5px;
    box-shadow: 1px 1px 1px #dadada;
} 
.ul-favorable .favorable-detail{
    position: absolute;
    right: 10px;
    top: 13px;
    border-radius: 18px;
    padding: 5px 20px;
    border-color: #428bca;
    color: #428bca;
}
</style>
<div class="app-page">
    <div class="app-topbar">
        <a href="javascript:history.back()"><i class="glyphicon glyphicon-chevron-left"></i></a>
        <h4>我的优惠卷</h4>
    </div>
    <div class="app-content container-fluid">
        <?php if (isset($favorable_code)): ?>
        <div class="box-favorable">
            <dl class="dl-horizontal">
              <dt>活动名称:</dt>
              <dd class="text-overflow"><?=$activity_name?></dd>
              <dt>活动图片:</dt>
              <dd class="text-overflow"><img src="<?=$activity_img?>" alt=""></dd>
              <dt>兑换码:</dt>
              <dd class="text-overflow"><?=$favorable_code?></dd>
              <dt>条形码:</dt>
              <dd class="text-overflow"><?=$tiaoxingma?></dd>
              <dt>兑换金币:</dt>
              <dd class="text-overflow"><?=$activity_score?></dd>
              <dt>有效期:</dt>
              <dd class="text-overflow"><?=$start_time?>～<?=$end_time?></dd>
              <dt>优惠券详情:</dt>
              <dd class=""><?=$detail?></dd>
            </dl>
        </div>
        <?php else: ?>
        <div class="alert alert-warning" role="alert">暂无您的优惠券信息</div>
        <?php endif ?>
    </div>
</div>
<script>
    $(function() {

    });
</script>