        <base href="<?=__PUBLIC__?>/game/choujiang/">
        <link href="<?=__PUBLIC__?>/game/choujiang/activity-style2.css" rel="stylesheet" type="text/css">

        <div id="loader" style="text-align: center;height:30px;line-height: 30px;background: white;display: none;"><img src="load.gif" align="absmiddle"/> 请稍后，数据传输中 ...</div>
        <div  class="main"  >
            <div id="outercont">
                <div id="outer-cont">
                    <div id="outer"><img src="zp8-.png"></div>
                </div>
                <div id="inner-cont">
                    <div id="inner"><img src="activity-lottery-2.png"></div>
                </div>
                <!-- <div class="boxcontent boxwhite">
                    <div class="box">
                        <div class="title-red">活动说明：</div>
                        <div class="Detail">
                            <p >本次活动仅限现场朋友参与！</p>
                        </div>
                    </div>
                </div> -->
            </div>
        </div>

        <script type="text/javascript">
        var post_url = '<?=site_url("code/game")?>';
        var rid = 1;
        var game_id = <?=$game_id?>;
            $(function() {
                window.requestAnimFrame = (function() {
                    return window.requestAnimationFrame || window.webkitRequestAnimationFrame || window.mozRequestAnimationFrame || window.oRequestAnimationFrame || window.msRequestAnimationFrame ||
                            function(callback) {
                                window.setTimeout(callback, 1000 / 60)
                            }
                })();
                var totalDeg = 360 * 3 + 0;
                var steps = [];

                var lostDeg = [120, 240, 360];
                var prizeDeg = [40, 80, 160, 200, 280, 320];
                var prize, sncode;
                var count = 0;
                var now = 0;
                var a = 0.01;
                var outter, inner, timer, running = false;
                function countSteps() {
                    var t = Math.sqrt(2 * totalDeg / a);
                    var v = a * t;
                    for (var i = 0; i < t; i++) {
                        steps.push((2 * v * i - a * i * i) / 2)
                    }
                    steps.push(totalDeg)
                }
                function step(cb) {
                    outter.style.webkitTransform = 'rotate(' + steps[now++] + 'deg)';
                    outter.style.MozTransform = 'rotate(' + steps[now++] + 'deg)';
                    if (now < steps.length) {
                        running = true;
                        requestAnimFrame(function(){step(cb)})
                    } else {
                        cb();
                        running = false;
                    }
                }
                function start(deg,cb) {
                    deg = deg || lostDeg[parseInt(lostDeg.length * Math.random())];
                    running = true;
                    clearInterval(timer);
                    totalDeg = 360 * 5 + deg;
                    steps = [];
                    now = 0;
                    countSteps();

                    requestAnimFrame(function(){step(cb)});
                }
                window.start = start;
                outter = document.getElementById('outer');
                inner = document.getElementById('inner');
                i = 10;
                $("#inner").click(function() {

                    if (running)
                        return;

                    //检查今天能否再玩
                    $.get('<?=site_url('code/check_can_play')?>',{game_id:game_id},function(res){
                        if(!res.can_play){
                            alert('今天不能再玩了,请明天继续!');
                            return false;
                        }

                        //获取转盘结果
                        $.post('<?=site_url('code/get_game_result')?>',{game_id:game_id},function(res){
                            var rid = res.rid;

                            //显示结果
                            if (rid == 0){
                                start(0,function(){
                                    alert('很遗憾，请再接再厉');
                                });
                            }else{
                                start(prizeDeg[rid-1],function(){
                                    var prizeArr = {
                                        1:2,
                                        2:50,
                                        3:30,
                                        4:10,
                                        5:5,
                                        6:20,
                                    };
                                    //获取金币
                                    $.post(post_url,{score:prizeArr[rid]},function(res){
                                        alert(res.message);
                                    },'json');                            
                                });
                            }
                        },'json');
                    },'json');
                });
            });
        </script>
