<table class="table table-hover goods_list">
    <thead>
        <tr>
            <th width='100'>编号</th>
            <th>帐号</th>
            <th>最后登录IP</th>
            <th>最后登录时间</th>
            <th>最后修改时间</th>
            <th width='220'>操作</th>
        </tr>
    </thead>
    <tbody>
        <?php foreach($list_data as $k=>$i):?>
        <tr>
            <td><?=$i->admin_id?></td>
            <td><?=$i->account?></td>
            <td><?=$i->last_login_ip?></td>
            <td><?=$i->last_login_time?></td>
            <td><?=$i->modify_time?></td>
            <td>
                <p>
                    <?php if(chk_access('admin/update')):?>
                    <a href='<?=site_url("admin/update/$i->admin_id")?>' class="btn btn-default btn-sm"><span class="glyphicon glyphicon-edit"></span> 修改</a>&nbsp;
                    <?php endif;?>
                    <?php if(chk_access('admin/delete')):?>
                    <a href='<?=site_url("admin/delete/$i->admin_id")?>' class="btn btn-default btn-sm" onclick="javascript:return confirm('确定执行吗？')"><span class="glyphicon glyphicon-remove"></span> 删除</a>&nbsp;
                    <?php endif;?>
                </p>
            </td>
        </tr>
        <?php endforeach;?>
    </tbody>
</table>

<?=$pagination?>
